<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
    <h2>로그인</h2>

    <form th:action="@{/login}" method="post">
      <div>
        <label for="username">로그인 ID:</label>
        <input type="text" id="username" name="username">
      </div>
      <div>
        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password">
      </div>
      <div>
        <button type="submit">로그인</button>
      </div>
    </form>

    <hr>
    <a th:href="@{/signup}">회원가입</a>
</body>
</html>